table, th, td {
  margin:10px 0;
  border:solid 1px #333;
  padding:2px 4px;
  font:15px Verdana;
  }
td{
	max-width:200px;
	word-wrap: normal;
	white-space: normal;
}
a{
	background-color:white;
}
.btn-primary{
	background-color:#7F297D;
}
.smallLogo{
	padding-bottom:10px;
}

th {
  font-weight:bold;
  background-color:#7f297d;
  color:White
  }

body{
	background-color: #CBCBCB;
}

#banner{
	font-style:italic;
}

#container {
	position:absolute;
	width: 100%; 
}
.checkboxDiv{
	padding: 10px;
	max-height: 800px;
	position: fixed;
}

.querybox{
	font-size: 0.8em;
}

.tableDiv{
 padding: 10px;
 float:right;
 max-width:76%;
 position: relative 20px right;
}

ul{
	display:none;
}