<div>
			<ul class='querybox' id ="states">
				<li>States</li>
		</div>
		<div>
			<ul id="types">
				<li>Types</li>
		</div>
		<div>
			<ul class='querybox' id="academic_departments">
				<li>Academic Departments</li>
		</div>
		<div>
			<ul class='querybox' id="degree_types">
				<li>Degree Types</li>
		</div>
		<div>
			<ul class='querybox' id="levels_of_study">
				<li>Level of Study Availabe</li>
		</div>
		<div>
			<ul class='querybox' id="study_options">
				<li>Study Options</li>
		</div>
		</div>